
body {
  background-color: #B5C99A;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #862B0D;
  background-color: #FFC95F;
  border-radius: 10px;
}

.jumbotron{background-color: #B5C99A;}
.submit{background-color: #862B0D; color:#FFF9C9}
.logout{color:#862B0D; background-color: #FFF9C9; border-color: none;}
.login{background-color: #862B0D; color: #FFF9C9;}
.register{background-color: #FFF9C9; color: #862B0D;}
.socialPlace{background-color: #FFC95F;}
