
body {
  background-color: #678983;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #F0E9D2;
  background-color: #181D31;
  border-radius: 10px;
}

.jumbotron{background-color: #678983;}
.submit{background-color: #181D31; color:#F0E9D2}
.logout{color:#181D31; background-color: #F0E9D2; border-color: none;}
.login{background-color: #181D31; color: #F0E9D2;}
.register{background-color: #F0E9D2; color: #181D31;}
